<!--{% if all_albums %}
    <ul>
        {% for album in all_albums %}
        <li><a href="/music_content/{{ album.id }}">{{ album.album_title }}</a> </li>
        {% endfor %}
    </ul>
{% else %}
    <h2> No Albums found </h2>
{% endif %}
Hard coded stuff, now we have to remove it.
-->

<!--Instead of hard-coding, we are writing url, since from urls.py
     in our app, we have the href link regex exp which states the number

     Also, we are passing which regex, so we give the name attribute value beside url ( in our example 'detail')

     and the number which we need to pass is our album.id
     -->

<!-- load the path -->
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'music_content/style.css'  %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Arima+Madurai" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static 'music_content/style.css'  %}">


<nav class = "navbar navbar-inverse">
    <div class="container-fluid">

        <!-- place a logo here -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'music:index' %}"> Pied Piper </a>
        </div>

        <!-- items -->
        <div class="collapse navbar-collapse" id="topNavBar">
             <form class="navbar-form navbar-right" role="search" method="get" action="#">
                <div class="form-group">
                    <input type = "text" class = "form-control" name="q" value = "">
                </div>
                <button type="submit" class="btn btn-inverse"> Search </button>

            </form>

            <ul class="nav navbar-nav navbar-right">
                <li class="icons">
                    <a href="#">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Add Album
                    </a>
                </li>
                <li class="icons">
                    <a href="{%  url 'music:index' %}">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout
                    </a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="icons">
                    <a href="{%  url 'music:index' %}">
                        <span class="glyphicon glyphicon-cd" aria-hidden="true"></span>&nbsp; Albums
                    </a>
                </li>
                <li class="icons">
                    <a href="#">
                        <span class="glyphicon glyphicon-music" aria-hidden="true"></span>&nbsp; Albums
                    </a>
                </li>
            </ul>

        </div>
    </div>
</nav>

<!--
{% if all_albums %}
<ul>
    {% for album in all_albums %}

    <li> <a href="{% url 'music:detail' album.id %}">{{ album.album_title }}</a>  </li>
    {% endfor %}
</ul>
{% else %}
    <h2> No albums Found </h2>
{% endif %}

-->